<div>
  <div style="color: #B8860B; font-family: Tahoma">
    <h2><b>Letter information</b></h2>
  </div>
  <div style="background-color: #008B8B; 
              color: white; 
              border-radius: 10px 10px;
              width: 20%">
    <table border="1" width="100%">
      <tr>
        <td><b> BODY </b></td>
        <td> {{ body }} </td>
      </tr>
      <tr>
        <td><b> NAME </b></td>
        <td> {{ name }} </td>
      </tr>
      <tr>
        <td><b> COUNTRY </b></td>
        <td> {{ country }} </td>
      </tr>
    </table>
  </div>
  <div style="color: #B8860B; font-family: Tahoma">
    <h2> Image </h2>
    {# <p>{{kint(sended_image)}} </p> #}
    <p> 
      <img src="{{ sended_image }}" width="200" height="200"> 
    </p>
  </div>
</div>
